<p>Prezados, bom dia</p>
<br>
<p>Melhor loja do Dia em Faturamento: Loja {$day_best_store_name} com Faturamento {$day_best_store_revenue}</p>
<p>Pior loja do Dia em Faturamento: Loja {$day_worst_store_name} com Faturamento {$day_worst_store_revenue}</p>
<br>
<p>Melhor loja do ano em Faturamento: Loja {$year_best_store_name} com Faturamento {$year_best_store_revenue}</p>
<p>Pior loja do ano em Faturamento: Loja {$year_worst_store_name} com Faturamento {$year_worst_store_revenue}</p>
<br>
<p>Segue em anexo os rankings do ano e do dia de todas as lojas.</p>
<br>
<p>Qualquer dúvida, esotu a disposição.</p>
<br>
<p>Att.,</p>
<p>Lorem Ipsum.</p>